<div class="mango-deal01__item1 items mango-popup-product">
    <div class="mango-deal01__image"><img src="" alt="" class="mango-popup-product-image"></div>
    <h3 class="mango-deal01__name"><span class="mango-popup-product-title"></span></h3>
    <div class="mango-deal01__wrap">
        <div class="mango-deal01__charge">
            <div class="mango-deal01__old"><span class="mango-popup-product-regular-price"></span></div>
            <div class="mango-deal01__new"><span class="mango-popup-product-sale-price"></span></div>
        </div>
        <div class="mango-deal01__detail">
            <button type="submit" class="mango-button mango-popup-product-url"><span class="mango-popup-product-detail-label">See detail</span> <i class="fa fa-arrow-right"></i></button>
        </div>
    </div>
</div>
