<div class="mango-idea">
	<div class="mango-idea__header"><span class="mango-popup-plain-text-editable">Premium content</span></div>
	<div class="mango-idea__body">
		<div class="mango-idea__title"><span class="mango-popup-plain-text-editable">5 rules of success</span></div>
		<div class="mango-idea__text">
		    <span class="mango-popup-plain-text-editable">
			    <span>With need to know list of the</span>
		    	<br>
	    		<span class="mango-idea__text-span editable-block-modified-this-no-effect">top trends &amp; tools</span>
    			<span>technology</span>
		    </span>
		</div>
		<form class="mango-idea__form">
			<div class="mango-idea__submit">
				<button class="mango-button mango-button--style14 mango-popup-button-cta" type="submit"><span class="mango-popup-plain-text-editable">Get 5 Rules Free Newsletter Now</span></button>
			</div>
		</form>
		<a class="mango-idea__detail mango-popup__close"><span class="mango-popup-plain-text-editable">No, Thanks!</span></a>
	</div>
</div>
