<div class="mango-coupon">
	<div class="mango-coupon__header"></div>
	<h2 class="mango-coupon__title"><span class="mango-popup-plain-text-editable">Save up to</span></h2>
	<div class="mango-coupon__sale"><span class="mango-popup-plain-text-editable" style="max-width: 100%; overflow:hidden">70% Off</span></div>
	<div class="mango-coupon__content"><span class="mango-popup-plain-text-editable">Instant access to the coupon</span></div>
	<form action="" class="mango-coupon__form">
		<div class="mango-coupon__email">
			<input name="EMAIL" type="email" class="mango-popup-placeholder-editable" placeholder="Enter Your Email Here" required="">
		</div>
		<div class="mango-coupon__submit">
			<button class="mango-button mango-button--style17 mango-popup-button-cta" type="submit">
				<span class="mango-popup-plain-text-editable">Get 70% Off Coupon</span>
			</button>
		</div>
	</form>
	<div class="mango-coupon__detail"><span class="mango-popup-plain-text-editable">
	    <span> By clicking “Get 70% Off Coupon” you agree to</span>
		<span class="mango-coupon__terms editable-block-modified-this-no-effect">Terms &amp; Conditions</span>
	</span></div>
	<div class="mango-coupon__text mango-popup__close">
		<span class="mango-popup-plain-text-editable">Continue without 70% off coupon</span>
		<img src="{$MANGO_POPUP_TEMPLATE_URL}/assets/img/0.png">
	</div>
</div>
