<div class="mango-exclusive">
	<h2 class="mango-exclusive__title"><span class="mango-popup-plain-text-editable">Be beauty smart!</span></h2>
	<div class="mango-exclusive__text"><span class="mango-popup-plain-text-editable">Subscribe and get exclusive offer! </span></div>
	<form action="" class="mango-exclusive__form">
		<div class="mango-exclusive__email">
			<input name="EMAIL" type="email" placeholder="Your E-mail" class="mango-popup-placeholder-editable" required="">
		</div>
		<div class="mango-exclusive__submit">
			<button class="mango-button mango-button--style18 mango-popup-button-cta" type="submit"><span class="mango-popup__send-now mango-popup-plain-text-editable">Be smart</span></button>
		</div>
	</form>
</div>
