<div class="mango-blog">
    <div class="mango-blog__wrapper">
        <div class="mango-blog__label"><span class="mango-popup-plain-text-editable">Hey there!</span></div>
        <h2 class="mango-blog__title"><span class="mango-popup-plain-text-editable">Not sure how to create a Profitable Blog?</span></h2>
        <h3 class="mango-blog__subtitle"><span class="mango-popup-plain-text-editable">A Fresh New 100% FREE Traffic source that none of the big-time marketers you to know about!</span></h3>
        <form action="" class="mango-blog__form">
            <div class="mango-blog__name">
                <input class="mango-popup-placeholder-editable" type="email" name="EMAIL" placeholder="Enter your email" required="">
            </div>
            <div class="mango-blog__submit">
                <button class="mango-button mango-popup-button-cta" type="submit">
                    <span class="mango-popup-plain-text-editable">Yes, Send it Over!</span>
                </button>
            </div>
        </form>
        <div class="mango-blog__refuse mango-popup__close"><span class="mango-popup-plain-text-editable">No, Thanks!</span></div>
    </div>
</div>
