<div class="mango-discount2">
    <h2 class="mango-discount2__title"><span class="mango-popup-plain-text-editable">Subscribe to Newsletter and get a discount!</span></h2>
    <h3 class="mango-discount2__subtitle"><span class="mango-popup-plain-text-editable">Subscribe and get exclusive offer! </span></h3>
    <form action="" class="mango-discount2__form">
        <div class="mango-discount2__name">
            <input name="FNAME" type="text" placeholder="Enter your name" class="mango-popup-placeholder-editable">
        </div>
        <div class="mango-discount2__email">
            <input name="EMAIL" type="email" placeholder="Enter E-mail" class="mango-popup-placeholder-editable" required="">
        </div>

        <div class="mango-discount2__submit">
            <button class="mango-button mango-button--style19 mango-popup-button-cta" type="submit">
                <span class="mango-popup-plain-text-editable">Subscribe</span>
            </button>
        </div>
    </form>

    <div class="mango-discount2__text"><span class="mango-popup-plain-text-editable">No SPAM! We not share your email to any 3rd part companied!</span></div>
</div>
