<div class="mango-newsletter">
    <h2 class="mango-newsletter__title">
        <span class="mango-popup-plain-text-editable">Be first!!!</span>
    </h2>
    <div class="mango-newsletter__text">
        <span class="mango-popup-plain-text-editable">Be the first to find out about new styles and special offers from our store and get 30% off the first purchase.</span>
    </div>
    <form action="" class="mango-newsletter__form">
        <div class="email">
            <input name="EMAIL" class="mango-popup-placeholder-editable" type="email" placeholder="Enter your e-mail" required>
        </div>
        <div class="submit">
            <button type='submit' class="mango-popup-button-cta fox-button mango-button--style11">
                <span class='mango-popup-plain-text-editable'>Be first</span>
            </button>
        </div>
    </form>
</div>

