<div class="mango-subscribe">
	<h2 class="mango-subscribe__title"><span class="mango-popup-plain-text-editable">Always First!!!</span></h2>
	<div class="mango-subscribe__text"><span class="mango-popup-plain-text-editable">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id nisl leo.</span></div>
	<form action="" class="mango-subscribe__form">
		<div class="email">
			<input placeholder="Your e-mail" name="EMAIL" type="email" required="">
		</div>
		<div class="submit">
			<button type="submit" class="mango-button mango-button--style15 mango-popup-button-cta">
				<span class="mango-popup-plain-text-editable">Be First!</span>
			</button>
		</div>

	</form>
</div>
