<!-- Increase subcribe -->
<div class="mango-increaseSub">
	<div class="mango-increaseSub__header">
		<div class="mango-increaseSub__image">
			<img class="mango-increaseSub__imgThumbnail" src="{$MANGO_POPUP_TEMPLATE_URL}/assets/img/0.png">
		</div>

        <div>
			<h2 class="mango-increaseSub__title">
				<span class="mango-popup-plain-text-editable">
						<span> Do you want to </span><strong class="editable-block-modified-this-no-effect"> increase</strong><span> your online sale </span><strong class="editable-block-modified-this-no-effect"> up to 300% ?</strong>
				</span>
			</h2>
		</div>


    </div>

	<div class="mango-increaseSub__body">
		<div class="mango-increaseSub__content"><span class="mango-popup-plain-text-editable">Your Information will never be shared with any third company. You will receive promotional emails and offers.</span></div>

		<form class="mango-increaseSub__submit">
			<button class="mango-button mango-button--style13 mango-popup-button-cta" type="submit">
				<span class="mango-popup-plain-text-editable">Yes, I want to increase my sales</span>
				<img class="icon" src="{$MANGO_POPUP_TEMPLATE_URL}/assets/img/1.png"></button>
		</form>

		<div class="mango-increaseSub__text mango-popup__close"><span class="mango-popup-plain-text-editable">No, thank you, I’m good to go</span></div>
	</div>
</div>
