<div class="mango-discount3">
    <div class="mango-discount3__label"><span class="mango-popup-plain-text-editable">Special Summer Offer</span></div>
    <h2 class="mango-discount3__title"><span class="mango-popup-plain-text-editable">Sale 70% Off</span></h2>
    <h3 class="mango-discount3__subtitle"><span class="mango-popup-plain-text-editable">Enter Your Email To Find Discount On Your Dream Vacations!</span></h3>
    <form action="" class="mango-discount3__form">
        <div class="mango-discount3__name">
            <input name="EMAIL" class="mango-popup-placeholder-editable" type="email" placeholder="Enter your email" required="">
        </div>
        <div class="mango-discount3__submit">
            <button class="mango-button mango-button-style21 mango-popup-button-cta" type="submit">
                <span class="mango-popup-plain-text-editable">Get My Summer Offer</span>
            </button>
        </div>
    </form>
    <div class="mango-discount3__text"><span class="mango-popup-plain-text-editable">Hurry up, Limited Deals Available!</span></div>
</div>
