<!-- Discount -->
<div class="mango-discount">
    <div class="mango-discount__left">
        <h2 class="mango-discount__title"><span class="mango-popup-plain-text-editable">LIMITED TIME ONLY, YOU DONT WANNA MISS THIS</span></h2>
        <h3 class="mango-discount__subtitle"><span class="mango-popup-plain-text-editable">Enter your email and get your 60% discount</span></h3>
        <form action="" class="mango-discount__form">
            <div class="email">
                <input class="mango-popup-placeholder-editable" name="EMAIL" type="email" placeholder="Enter your email" required="">
            </div>
            <div class="submit">
                <button class="mango-button mango-button--style12 mango-popup-button-cta" type="submit"><span class="mango-popup-plain-text-editable">Get your discount !</span></button>
            </div>
        </form>
        <div class="mango-discount__text"><span class="mango-popup-plain-text-editable">Your Information will never be shared with any third company.You will receive promotional emails and offers.</span></div>
    </div>

    <div class="mango-discount__right">
        <div class="mango-discount__content">
            <div>
                <span class="mango-popup-plain-text-editable">Sale</span>
            </div>
            <div>
                <span class="mango-popup-plain-text-editable">60</span>
            </div>
            <div>
                <span class="mango-popup-plain-text-editable">Save your money</span>
            </div>
            <div>
                <span class="mango-popup-plain-text-editable">Now</span>
            </div>

        </div>

        <div class="mango-discount__detail"><span class="mango-popup-plain-text-editable">Online promotion only</span></div>
    </div>
</div>
