<div class="mango-deal02__item1 items mango-popup-product">
    <div class="mango-deal02__image">
        <img src="{$MANGO_POPUP_TEMPLATE_URL}/assets/img/0.jpg" alt="" class="mango-popup-product-image">
    </div>
    <h3 class="mango-deal02__name">
        <span class="mango-popup-product-title">Epos wiss watch</span>
    </h3>
    <div class="mango-deal02__regular_price">
        <span class="mango-popup-product-regular-price">$1275</span>
    </div>
    <div class="mango-deal02__price">
        <span class="mango-popup-product-sale-price">$156</span>
    </div>

    <button type="submit" class="mango-button mango-popup-product-url">
        <span class="mango-popup-product-detail-label">View detail</span>
    </button>
</div>
