<div class="mango-deal02">
    <div class="mango-deal02__header">
        <h2 class="mango-deal02__title">
            <span class="mango-popup-plain-text-editable">Items recommended for you!</span>
        </h2>
    </div>

    <form action="" class="mango-deal02__form">
        <div class="mango-deal02__body mango-popup-product-container">
            <div class="mango-deal02__item1 items mango-popup-product">
                <div class="mango-deal02__image">
                    <img src="{$MANGO_POPUP_TEMPLATE_URL}/assets/img/0.jpg" alt="" class="mango-popup-product-image mango-popup-background-image-editable">
                </div>
                <h3 class="mango-deal02__name">
                    <span class="mango-popup-product-title mango-popup-plain-text-editable"> Epos wiss watch </span>
                </h3>
                <div class="mango-deal02__regular_price">
                    <span class="mango-popup-product-regular-price mango-popup-plain-text-editable">$275</span>
                </div>
                <div class="mango-deal02__price">
                    <span class="mango-popup-plain-text-editable mango-popup-product-sale-price">$156</span>
                </div>

                <button type="submit" class="mango-button mango-popup-button-cta-href-editable mango-popup-product-url">
                    <span class="mango-popup-plain-text-editable"> View detail </span>
                </button>
            </div>

            <div class="mango-deal02__item2 items mango-popup-product">
                <div class="mango-deal02__image">
                    <img src="{$MANGO_POPUP_TEMPLATE_URL}/assets/img/1.png" alt="" class="mango-popup-product-image mango-popup-background-image-editable">
                </div>
                <h3 class="mango-deal02__name">
                    <span class="mango-popup-product-title mango-popup-plain-text-editable"> Casio watch </span>
                </h3>
                <div class="mango-deal02__regular_price">
                    <span class="mango-popup-product-regular-price mango-popup-plain-text-editable"> $78 </span>
                </div>
                <div class="mango-deal02__price"><span class="mango-popup-plain-text-editable mango-popup-product-sale-price">$50</span></div>

                <button type="submit" class="mango-button mango-popup-button-cta-href-editable mango-popup-product-url">
                    <span class="mango-popup-plain-text-editable">View detail</span></button>
            </div>

            <div class="mango-deal02__item3 items mango-popup-product">
                <div class="mango-deal02__image">
                    <img src="{$MANGO_POPUP_TEMPLATE_URL}/assets/img/2.jpg" alt="" class="mango-popup-product-image mango-popup-background-image-editable">
                </div>
                <h3 class="mango-deal02__name">
                    <span class="mango-popup-product-title mango-popup-plain-text-editable"> Citizen watch </span>
                </h3>
                <div class="mango-deal02__regular_price">
                    <span class="mango-popup-product-regular-price mango-popup-plain-text-editable">$1275</span>
                </div>
                <div class="mango-deal02__price">
                    <span class="mango-popup-plain-text-editable mango-popup-product-sale-price">$1000</span>
                </div>

                <button type="submit" class="mango-button mango-popup-button-cta-href-editable mango-popup-product-url">
                    <span class="mango-popup-plain-text-editable">View detail</span></button>
            </div>

        </div>
    </form>

</div>
