<div class="mango-stockItem">
	<h2 class="mango-stockItem__title"><span class="mango-popup-plain-text-editable"> New shoes style coming soon! </span></h2>
	<div class="mango-stockItem__text"><span class="mango-popup-plain-text-editable"> Leave your email below and we will let you know when it will be in stock. </span></div>
	<form action="" class="mango-stockItem__form">
		<div class="mango-stockItem__email">
			<input name="EMAIL" type="email" class="mango-popup-placeholder-editable" placeholder="Your e-mail address" required="">
		</div>
		<div class="mango-stockItem__submit">
			<button class="mango-button mango-button--style16 mango-popup-button-cta" type="submit">
				<span class="mango-popup-plain-text-editable"> Subscribe Now </span>
			</button>
		</div>
	</form>
</div>
